{% extends "base.html" %}
{% load static %}

{% block title %}Lista kategorii{% endblock %}

{% block content %}
<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="mb-0">Kategorie</h4>
        <a href="{% url 'add-category' %}" class="btn btn-sm btn-primary">+ Dodaj kategorię</a>
    </div>

    <div class="card border-0">
        <table class="table table-hover mb-0">
            <thead >
                <tr class="expenses-table">
                    
                    <th>Nazwa</th>
                    <th>Kolor</th>
                    <th class="text-center" colspan="2">Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    
                    <td>{{ category.name }}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div style="width: 20px; height: 20px; border-radius: 50%; background-color: {{ category.color }}; border: 1px solid #fff";></div>
                            <small class="white-text">{{ category.color }}</small>
                        </div>
                    </td>
                    <td class="text-center">
                            <a data-bs-toggle="tooltip" data-bs-title="Zobacz transakcję" href="{% url 'update-category' category.id %}"
                               class="dark-text actions-icon mx-2"> <img class="table-icon" src="{% static 'img/eye.svg' %}" alt="Logo">
</a>
 <a class="dark-text actions-icon"  data-bs-toggle="tooltip" data-bs-title="Usuń kategorię" href="{% url 'delete-category' category.id %}"
                                
                               onclick="return confirm('Czy na pewno chcesz usunąć tę transakcję?')"><img class="table-icon" src="{% static 'img/remove.svg' %}" alt="Logo"></a>
                        </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center text-muted py-4">
                            <img class="info-img info-img-mini" src="{% static 'img/no-categories.png' %}" alt="Logo">
                            <p>Nie masz jeszcze żadnych kategorii.
                            <a href="{% url 'add-transaction' %}">Dodaj pierwszą</a></p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/tooltips.js' %}"></script>
{% endblock %}