h1, h2, h3 {
    font-family: 'Exo 2', sans-serif;
}

h4, h5, h6,
body {
    font-family: 'Manrope', sans-serif;
}

.card-auth {
    background-color: #fafafa;
}

.form-auth p {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-auth label {
    margin-bottom: 4px;
}

.form-auth input {
    width: 100%;
}